{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Підтвердіть E-mail Адресу" %}{% endblock %}


{% block content %}
<h1>{% trans "Підтвердіть E-mail Адресу" %}</h1>

{% if confirmation %}

{% user_display confirmation.email_address.user as user_display %}

<p>{% blocktrans with confirmation.email_address.email as email %}Будь ласка, підтвердіть, що <a href="mailto:{{ email }}">{{ email }}</a> є адресою електронної пошти користувача {{ user_display }}.{% endblocktrans %}</p>

<form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
{% csrf_token %}
    <button type="submit">{% trans 'Підтвердити' %}</button>
</form>

{% else %}

{% url 'account_email' as email_url %}

<p>{% blocktrans %}Це посилання для підтвердження електронної пошти втратило чинність або недійсне. Будь ласка, <a href="{{ email_url }}">відправте новий запит на підтвердження електронної пошти</a>.{% endblocktrans %}</p>

{% endif %}

{% endblock %}
