{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Змінити Пароль" %}{% endblock %}

{% block content %}
    <h1>{% if token_fail %}{% trans "Неправильний Токен" %}{% else %}{% trans "Змінити Пароль" %}{% endif %}</h1>

    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p>{% blocktrans %}Посилання для скидання пароля було недійсним, можливо, тому що воно вже було використане. Будь ласка, замовте <a href="{{ passwd_reset_url }}">нове скидання пароля</a>.{% endblocktrans %}</p>
    {% else %}
        {% if form %}
            <form method="POST" action="{{ action_url }}">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" name="action" value="{% trans 'змінити пароль' %}"/>
            </form>
        {% else %}
            <p>{% trans 'Ваш пароль тепер змінено.' %}</p>
        {% endif %}
    {% endif %}
{% endblock %}
