{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Скидання Паролю" %}{% endblock %}

{% block content %}

    <h1>{% trans "Скидання Паролю" %}</h1>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>{% trans "Забули свій пароль? Введіть свою електронну адресу нижче, і ми відправимо вам електронний лист, який дозволить його скинути." %}</p>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="{% trans 'Скинути Мій Пароль' %}" />
    </form>

    <p>{% blocktrans %}Будь ласка, зв'яжіться з нами, якщо у вас виникають будь-які проблеми зі скиданням вашого пароля.{% endblocktrans %}</p>
{% endblock %}
