{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Підтвердіть Вашу Електронну Адресу" %}{% endblock %}

{% block content %}
<h1>{% trans "Підтвердіть Вашу Електронну Адресу" %}</h1>

{% url 'account_email' as email_url %}

<p>{% blocktrans %}Ця частина сайту вимагає підтвердження того,
що ви є тією особою, за яку себе видаєте. Для цього ми вимагаємо, 
щоб ви підтвердили володіння вашою електронною адресою.{% endblocktrans %}</p>

<p>{% blocktrans %}Ми відправили вам електронний лист для
підтвердження. Будь ласка, натисніть на посилання у цьому листі. 
Зв'яжіться з нами, якщо ви не отримаєте його протягом декількох хвилин.{% endblocktrans %}</p>

<p>{% blocktrans %}<strong>Примітка:</strong> ви все ще можете <a href="{{ email_url }}">змінити свою електронну адресу</a>.{% endblocktrans %}</p>

{% endblock %}
