{% extends "base.html" %}
{% load bootstrap4 %}  
{% block content %}

<div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
        {% if user.is_authenticated %}
        <p>Select a suitable date and time, and we'll contact you shortly.</p>
        <form method="post">
            {% csrf_token %}
            {{ booking_form.as_p }}
            <label for="id_call_time">Select a time:</label>
            <select id="id_call_time" name="call_time">
                {% for time_slot in available_time_slots %}
                    <option value="{{ time_slot.0 }}" {% if not time_slot.1 %}disabled{% endif %}>{{ time_slot.0 }} - {{ time_slot.1 }}</option>
                {% endfor %}
            </select>
            <button type="submit">Submit</button>
        </form>
        {% else %}
        <p>Please, sign up for booking call</p>
        {% endif %}
    </div>
</div>

{% endblock %}
