{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <h1>Call Booking Successfuly Deleted!</h1>
            <p>If you have any questions or need to reschedule, please contact our support team at support@example.com.
            </p>
            <div class="col-lg-8 col-md-10 mx-auto">
                <span id="first_button"><a class="change_booking_button" href="{% url 'edit_booking' %}">Edit Booking</a></span>
                <span id="second_button"><a class="delete_booking_button" href="{% url 'delete_booking' %}">Delete Booking</a></span>
            </div>
        </div>
    </div>
</div>
{% endblock %}