{% extends "base.html" %}

{% load static %}

{% block content %}
<!-- Тут вміст -->

<!-- Розділ Контакти -->
<section id="contact" class="contact-section">
    <div class="container">
        <h2 class="section-title">Контакти</h2>
        <div class="row">
            <!-- Інформація про контакти -->
            <div class="col-lg-6">
                <h3>Наші контактні дані</h3>
                <p class="contact-info">
                    <strong>Адреса:</strong> провулок Степана Бандери, 2/1а, Хмельницький, Україна<br>
                    <strong>Телефон:</strong> +380 97 811 6249<br>
                    <strong>Електронна пошта:</strong> sound.malyuk@gmail.com
                </p>
            </div>
        </div>
    </div>
</section>

{% endblock content %}
